# TWITTER_BEARER_TOKEN = 'AAAAAAAAAAAAAAAAAAAAAHu%2F0wEAAAAAcGaEWPUHp0NrDoI8grJTSUzBv2w%3D8sz2hqZBFcItoHkfWkQFDs9I60ADVMd7gDByRcyIWDtpG20hEX'
# TWITTER_BEARER_TOKEN2 = "AAAAAAAAAAAAAAAAAAAAAJDU0wEAAAAAYImsxZzIshe1qa%2FNe4UCe%2BiFABM%3DeWBDG8XT2SVXp3uABQpqbeHfZCIHrOB1wwmqSfrkmndBYIgYv0"

DATABASE_URL = "YOUR MONGO DB URL "
